{
  "pilot": {
    "adminEmails": ["admin@example.com"],
    "approverEmails": ["approver@example.com"],
    "features": {},
    "name": "AYRYX"
  },
  "ein": {
    "adminEmails": ["admin@example.com"],
    "approverEmails": ["approver@example.com"],
    "features": {},
    "logo": "/logos/ein.png",
    "name": "Aer Lingus"
  }
}
